body {
  padding-top: 60px;
}
.clear{
	clear:both;
}
.pagi{
	height:36px;
	margin:18px 0;
	border:1px solid #ddd;
	border:1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);
}

.list-sidebar li a{
	color:#0063DC;
	padding:1px;	
}
.list-sidebar li a:hover{
	background:#0063DC;
	color:#FFF;
	text-decoration:none;
	padding:1px;
}

.pagi span{
	float:left;
	padding:8px 10px 5px 10px;
}
.content-clientes-view span{
	font-weight:bold;
}

#UserUsername{
	margin-top:10px;
	margin-bottom:10px;
}
#UserPassword{
	margin-bottom:10px;
}
.tumb_cliente_export_xml{
	float:left;
	border-bottom:1px solid #999;
	clear:both;
	padding-bottom:5px;
	margin-bottom:5px;
}
.status-ftp.success{
	color:green;
}
.status-ftp.failed{
	color:red;
}
.link-remover{
	color:red;
	text-decoration:none;
	padding:1px;
}
.link-remover:hover{
	background:red;
	text-decoration:none;
	color:#FFF;
	padding:1px;
}
.link-editar{
	color:#0063DC;
	padding:1px;
}
.link-editar:hover{
	background:#0063DC;
	color:#FFF;
	text-decoration:none;
	padding:1px;
}
.actions-buttons{
	height:10px;
}
.actions-buttons > div{
	
}
.span-servers-bold span{
	font-weight:bold;
}
.link-button{
	text-decoration:none !important;
}